<div class="card card-container">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item"> 
      <a class="nav-link" routerLinkActive="active" (click)="setResource('people')">People</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"  (click)="setResource('starships')">Starships</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"  (click)="setResource('film')">Films</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"  (click)="setResource('planets')">Planets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"  (click)="setResource('species')">Species</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"  (click)="setResource('vehicles')">Vehicles</a>
    </li>
  </ul>
</div>
